snippet fuji "Description" b
	${1}
	echo "fujiyama"
	${2}
endsnippet

snippet doc "doc" b
/**
* $0
*/
endsnippet

snippet prop
@property ${1:type} ${2:var}
endsnippet
snippet vardoc "doc" b
/** @var ${1:var} ${2:type} */
endsnippet
