set tabstop=2
set expandtab
set shiftwidth=2
set softtabstop=2
set notitle
set nobackup
set autoread
set noswapfile
set hidden "編集中でも他のファイルを開けるようにする
set backspace=indent,eol,start
set browsedir=buffer
set number
set showmatch "括弧の対応をハイライト
set autoindent
set smartindent
set encoding=utf-8
" set fileencoding=utf-8,euc-jp,cp932
set incsearch
" 10進数にする
set nrformats=
set hlsearch "search result heightlist
set nobomb
set nocompatible
set completeopt -=preview
set previewheight=30
set clipboard=unnamed
set foldmethod=manual
set splitright "縦分割時は右
set splitbelow
set lazyredraw
set ttyfast
set noundofile
" set list                " 不可視文字の可視化

"default keymap
cnoremap <c-a> <HOME>
cnoremap <c-e> <END>

" insert
inoremap <c-a> <ESC>^i
inoremap <c-e> <ESC>$a
inoremap jj <Esc><Esc>
" inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>

" normal
nnoremap <c-e> $
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
noremap ; :
nnoremap 0 ^
nnoremap 9 <C-^>
nnoremap gj j
nnoremap gk k

nnoremap  [unite]   <Nop>
nmap    f [unite]
nnoremap <c-f> :<C-u>action SearchEverywhere<cr>
nnoremap % :<C-u>action EditorMatchBrace<cr>
nnoremap <space>p :<C-u>action SplitVertically<cr>
nnoremap Q :<C-u>action CloseContent<cr>
nnoremap <space>d :<C-u>action PhpListenDebugAction<cr>


" visual
" vnoremap v :action EditorSelectWord<CR>
" vnoremap <c-v> :action EditorUnSelectWord<CR>
" ideavim action
vnoremap S :<C-u>action SurroundWithEmmet<cr>

